body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo {
    max-width: 50px;
}

h2,
a {
    color: #e5e7eb;
    font-size: 18px;
}

.attribution {
    color: black;
}

.icons {
    max-width: 150px;
    outline: solid;
    outline-color: #3882f6;
    outline-offset: 8px;
    border-radius: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

img {
    max-width: 550px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
}

.links {
    display: flex;
    gap: 16px;
}

.main {
    display:flex;
    padding: 50px;
    justify-content: space-between;
    gap: 16px;
    background-color: #1f2937;
}

.one,
.call {
    background-color: #3882f6;
    color: #f9faf8;
}

.one {
    border-radius: 8px;
    border: none;
    padding: 8px 24px;
    font-weight: bold;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info {
    background-color: white;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinks {
    display: flex;
    padding: 25px;
    gap: 46px;
}

.glug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: rgb(52, 52, 52);
}